extends ./layout/app

block contenido 
    div(class="py-10")
        h2(class="text-center text-3xl font-extrabold pt-30") 404
        h3(class="text-center text-2xl font-extrabold pt-30 mt-4")= pagina