extends layout/app

block contenido
    div(class="py-5 space-y-2")
        section(class="py-5")
            h2(class="text-center font-bold text-2xl pt-10")= pagina
            
            if propiedades.length
                div(class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-5")
                    each propiedad in propiedades 
                        include templates/card
            else 
                p(class="text-center text-gray-800 py-10 text-sm") No hay resultados