header.bg-indigo-600.p-4
            .container.mx-auto.flex.justify-between.items-center
                a(href="/") 
                    h1.text-2xl.text-white.font-extrabold.text-center Bienes
                        span.font-normal Raices
                
                nav(class="my-2 text-sm md:flex md:items-center md:gap-4 text-white hidden md:initial")
                    a(href="/auth/login") Iniciar sesión
                    a(href="/auth/register") Crear cuenta
if categorias 
    div(class="bg-indigo-700 py-3 hidden md:block")
        div(class="container mx-auto flex justify-between text-sm")
            each categoria in categorias 
                a(href=`/categorias/${categoria.id}` class="text-sm font-bold uppercase text-white")= categoria.nombre
            